*.swp
.deps/
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/
config.h
config.h.in
config.log
config.status
configure
gssproxy
*.o
libtool
m4/
man.stamp
Makefile.in.in
Makevars.template
Rules-quot
boldquot.sed
en@boldquot.header
en@quot.header
insert-header.sin
quot.sed
remove-potcdate.sin
stamp-h1
*.8
*.5
config.h.in~
cscope.out
dict.symbols
.dirstamp
cli_srv_conn
*.la
*.lo
.libs/
cli_srv_comm
gssproxy.spec
interposetest
gssproxy.service
t_accept
t_init
ar-lib
compile
config.guess
config.rpath
config.sub
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
proxy/examples/*.conf
proxy/examples/mech
