*.swp
.deps/
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/
config.h
config.h.in
config.log
config.status
configure
gssproxy
*.o
libtool
m4/
man.stamp
Makefile.in.in
Makevars.template
Rules-quot
boldquot.sed
en@boldquot.header
en@quot.header
insert-header.sin
quot.sed
remove-potcdate.sin
stamp-h1
*.8
*.5
config.h.in~
cscope.out
dict.symbols
.dirstamp
cli_srv_conn
*.la
*.lo
.libs/
cli_srv_comm
gssproxy.spec
interposetest
userproxytest
gssproxy.service
gssuserproxy.service
gssuserproxy.socket
ar-lib
compile
config.guess
config.rpath
config.sub
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
examples/24-nfs-server.conf
examples/80-httpd.conf
examples/99-nfs-client.conf
examples/*.conf
man/gssproxy-mech.8.xml
testdir/
tests/__pycache__/
tests/t_accept
tests/t_acquire
tests/t_cred_store
tests/t_impersonate
tests/t_init
tests/t_names
tests/t_setcredopt
